# Exclude matterbridge binary
/matterbridge
/matterbridge.exe

# Exclude configuration files
matterbridge.toml
*.db
*.db-*

# Exclude IDE Files
.vscode
.trunk

# Ignore vendoring in repository
/vendor

# OS files
.DS_Store
*~
