# Exclude matterbridge binary
/matterbridge
/matterbridge.exe

# Exclude configuration file
matterbridge.toml
*.db*

# Exclude IDE Files
.vscode

# Ignore vendoring in repository
/vendor

# OS files
.DS_Store
*~
