[general]
MediaDownloadSize=10000000

[irc]
[irc.libera]
Server="irc.libera.chat:6697"
UseSASL=true
UseTLS=true
Nick="yournick"
NickServNick="yournickservnick"
NickServPassword="yournickservpassword"
UploadToCatBox=true

[matrix]
[matrix.org]
Server="matrix.org"
Login="yourmatrixusername"
Password="yourmatrixpassword"

[[gateway]]
name="gateway0"
enable=true
[[gateway.inout]]
account="matrix.org"
channel="#yourmatrixchannel:matrix.org"
[[gateway.inout]]
account="irc.libera"
channel="#yourircchannel"
